extends layout

block content
  h1 User Listing

  table
    thead
      tr
        th Id
        th Email
    tbody
      each user in users
        tr
          td= user.id
          td= user.email
